HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
media-service/social-app-test-user_accessKeys.csv
*.csv
media-service/src/main/resources/application-seed.properties

### VS Code ###
.vscode/

.env
deploy/*.local
deploy/*.local.*
deploy/*.secret
*.md
!AWS_MICROSERVICE_DEPLOY_CICD_GUIDE.md
*.mermaid
*.map
/scripts
