API_GATEWAY_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-api-gateway:latest
AUTH_SERVICE_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-auth-service:latest
USER_SERVICE_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-user-service:latest
NOTIFICATION_SERVICE_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-notification-service:latest
MEDIA_SERVICE_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-media-service:latest
CHAT_SERVICE_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-chat-service:latest
ANALYTIC_SERVICE_IMAGE=158988874695.dkr.ecr.ap-southeast-1.amazonaws.com/ott-analytic-service:latest
